.App {
  text-align: center;
  height: 100%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
  --primary-color: rgb(196, 103, 103);
  --secondary-color: grey;
  --input-primary-color: white;
  --input-secondary-color: #2c3037;
}

.App-header {
  background-color: var(--secondary-color);
  height: 15vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size:3rem;
  font-weight: bold;
  color: white;

  border-style: solid;
  border-color: black;
  border-width: 2px;
}



.main {
  background-color: var(--primary-color);
  display: flex;
  overflow: hidden;
  height: 85vh;
  position: relative;
  
}



.input{
  padding-top: 5vh;
  background-color: var(--input-secondary-color);
  color: var(--input-primary-color);
  width: 25%;
  overflow: auto;
}




.results{
  display: flex;
  overflow: auto; /*scroll inside*/
  width: 75%;
  justify-content: center;
  
}

.resultsTitle{
  margin: 0 auto 0 auto;
  width: 50%;
  margin-top: 5%;
  font-size: 1.5rem;
  font-weight: bold;

}

.inputTitle{
  margin: 8%;
  margin-bottom: 8%;
  font-size: 1rem;
  border-style: double;
  border-width: 5px;
  border-radius: 3px;
  border-color: var(--input-primary-color);
}

.stretchinput, .stringinput, .ctinput{
  margin: 10% 16% 0px 16%;
  padding: 5%;
  border-style:double;
  border-width: 5px;
  border-radius: 3px;
  accent-color: var(--primary-color);
}

.ctinput{
  display: flex;
  flex-wrap: wrap;
}





.diagram, .resultsTitle{
  border-style:double;
  border-width: 10px;
  border-radius: 3px;
  border-color: black;
  background-color: var(--secondary-color);
}

.diagram{
  margin-top: 3%;
  text-align: left;
  justify-content: center;
  width: 100%;
}

.position_marker{
  margin-left: .5cm;
}

.diagram_box {
  text-align: center;
  margin-left: .5cm;
  margin-bottom:5dvh;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  width: 40vw;
}

.row {
  display: flex;
  flex-direction: row;
}

.box {
  background-color: burlywood;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: none;
  border-bottom: none;
  width: 100%;
  min-height: 24px;
  margin: 0px;
  padding: 0px;
}

.string {
  z-index: 0; /*below text*/
  position: relative;
  
  top: 50%;
  height: 2px; /* tring thickness*/

  background-color: gray;
}

.note {
  font-size: .9rem;
  
  z-index: 1;  /*above string*/
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 2px;
  width: 20px; 
  height: 20px; 

  background-color: var(--primary-color);
  border: 1px solid #000;;
  border-radius: 50%; 
}

