.app {
  text-align: center;
  height: 100%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

:root {
  
  --primary-color: rgb(171, 91, 91);
  --secondary-color: grey;
  --input-primary-color: rgb(218, 217, 217);
  --input-secondary-color: rgb(44, 48, 55);
    box-sizing: border-box;

}

.app-header {
  background-color: var(--secondary-color);
  height: calc(var(--vh, 1vh) * 15);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border-style: solid;
  border-color: black;
  border-width: 0px 0px 2px 0px;
  
  margin: 0;
  padding: 0;

}

.title{
  font-size: 6dvw;
  font-weight: bold;
  color: white;

  flex: 1;
  text-align: center; /* Center text within its flex item */
  margin: 0; /* Reset margin if needed */
}

.app-header .toggle-menu{
  position: absolute;
  left: 0; /* Align the button to the left */
  background-color: blue;

}

.toggle-menu{
  width: 45px;
  height: 45px;
}




.main {
  background-color: var(--primary-color);
  display: flex;
  
  overflow: hidden;
  position: relative;


  height: calc(var(--vh, 1vh) * 85);

  margin: 0;
  padding: 0;
  
}



.input{
  padding-top: 5%;
  background-color: var(--input-secondary-color);
  color: var(--input-primary-color);
  width: 25%;

  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

.mobile-input{
  display: flex;
  flex-direction: column;
  opacity: 80%;
  padding-top: 5%;
  background-color: var(--input-secondary-color);
  color: var(--input-primary-color);
  width: 50%;
  height: 100%;

  position: fixed;
  z-index: 2;
  overflow-y: auto;
  overflow-x: hidden;

}
.mobile-input .toggle-menu{

background-color: red;
}



.results{

  display: flex;
  overflow: auto; /*scroll inside*/
  width: 100%;
  justify-content: center;

}
/*
@media (max-width: 600px) {
  .input {
    display: none;
  }
  .results{
    width: 100%;
  }
}
*/


.input-title{
  margin: 8%;
  margin-bottom: 8%;
  font-size: 1rem;
  border-style: double;
  border-width: 5px;
  border-radius: 3px;
  border-color: var(--input-primary-color);
}

.stretch-input, .string-input, .ctinput, .chord-quality, .options-section{
  margin: 5% 16% 0px 16%;
  padding: 5%;
  border-style:double;
  border-width: 5px;
  border-radius: 3px;
  accent-color: var(--primary-color);
}

.root-select{
  
}
.quality-select{

}

.toggle-chordtone-mode{
  height: 10px;
}
.ctinput{
  padding-top: 0;
  margin-top: 0;
}

.stringselect{
  width: 100%;
}


.ct-boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



#num-strings-select, #stretch-select{
  margin-left: 5px;
}




.diagram, .results-title, .error-message{
  border-style:double;
  border-width: 10px;
  border-radius: 3px;
  border-color: black;
  background-color: var(--secondary-color);
}

.results-title{
  margin: auto;
  min-width: 90px;
  width: 50%;
  margin-top: 5%;
  font-size: 1.5rem;
  font-weight: bold;

}

.error-message{
  display: flex;
  margin: 5% 16% 0px 16%;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 10%;

}



.diagram{
  margin-top: 3%;
  text-align: left;
  justify-content: center;
  width: 100%;
}

.position-marker{
  margin-left: .5cm;
}

.diagram_box {
  text-align: center;
  margin-left: .5cm;
  margin-bottom: 45px;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  width: 40vw;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  gap: 0;
}

.box {
  background-color: burlywood;
  border-left: 2px solid black;
  border-right: 2px solid black;
  width: 100%;
  min-height: 26px;
  margin: 0;
  padding: 0;
}

.string {
  z-index: 0; /*below text*/
  position: relative;
  
  top: 50%;
  height: 2px; /* tring thickness*/

  background-color: gray;
}

.note {
  font-size: .9rem;
  
  z-index: 1;  /*above string*/
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 2px;
  width: 20px; 
  height: 20px; 

  background-color: var(--primary-color);
  border: 1px solid #000;;
  border-radius: 50%; 
}

