.app, .home {
  text-align: center;
  height: 100%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

:root {
  /*
  rgb(204, 110, 110) red
  rgb(91, 169, 218) blue
  rgb(124, 178, 130) green
  
  */
  --primary-color: rgb(91, 169, 218);
  --secondary-color: grey;
  --input-text-color: rgb(218, 217, 217);
  --input-background-color: rgb(44, 48, 55);
  --nav-text-color: white;

  --maple: rgb(250, 208, 158);
  --rosewood: rgb(126, 81, 60);


}

a{
  text-decoration: none;
}

.navbar {
  
  background-color: var(--secondary-color);
  height: calc(var(--vh, 1vh) * 15);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border-style: solid;
  border-color: black;
  border-width: 0px 0px 2px 0px;
  
  margin: 0;
  padding: 0;

 

}
.nav-user{
  display: flex;
  flex-direction: column;
}
.nav-name{
  font-size: 15px;
  color: var(--nav-text-color);
}
.nav-picture{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.nav-logout{
  height: 30px;
}
.nav-user-true{
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 10px;
}
.nav-login-link{
  position: absolute;
  right: 20px;
  color: var(--nav-text-color)
}


.title{
  font-size: 35px;
  font-weight: bold;
  color: white;

  flex: 1;
  text-align: center; /* Center text within its flex item */
  margin: 0; 
}

.toggle-menu{
  position: absolute;
  left: 10px; 


  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;

}

.toggle-menu-bar{
  width: 30px;
  height: 3px;
  background-color: var(--nav-text-color);
  border-radius: 2px;
}


.toggle-menu-close{
  background: transparent;
  width: 45px;
  height: 45px;
  margin-left: 5%; 
  color: var(--input-text-color);
  font-size: 26px;
  border: none;
  cursor: pointer;
}




.main {
  background-color: var(--primary-color);
  display: flex;
  
  overflow: hidden;
  position: relative;


  height: calc(var(--vh, 1vh) * 85);

  margin: 0;
  padding: 0;
  
}



.input{
  padding-top: 5%;
  background-color: var(--input-background-color);
  color: var(--input-text-color);
  width: 25%;

  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

.mobile-input{
 
  opacity: 80%;
  
  padding-top: 5%;
  background-color: var(--input-background-color);
  color: var(--input-text-color);
  width: 50%;
  height: 100%;

  position: fixed;
  z-index: 2;
  overflow-y: auto;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;

}



.results{

  display: flex;
  overflow: auto; /*scroll inside*/
  width: 100%;
  justify-content: center;

}
/*
@media (max-width: 600px) {
  .input {
    display: none;
  }
  .results{
    width: 100%;
  }
}
*/


.input-title{
  margin: 8%;
  margin-bottom: 8%;
  font-size: 1rem;
  border-style: double;
  border-width: 5px;
  border-radius: 3px;
  border-color: var(--input-text-color);
}

.stretch-input, .string-input, .ctinput, .chord-quality, .options-section{
  margin: 5% 16% 0px 16%;
  padding: 5%;
  border-style:double;
  border-width: 5px;
  border-radius: 3px;
  accent-color: var(--primary-color);
}

.options-section{
  margin-bottom: 50px;
  
}



#root-select{
  width: 50%;
  max-width: 40px;
  cursor: pointer;

}
#quality-select{
  width: 100%;
  max-width: 100px;
  cursor: pointer;

} 

.toggle-chordtone-mode{
  height: 10px;
  cursor: pointer;

}


.stringselect{
  width: 100%;
  cursor: pointer;

}


.ct-boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ct-button{
  width: 40px;
  margin: 3px;
  border-radius: 5px;
  cursor: pointer;


}
.ct-button-checked{
  width: 40px;
  margin: 3px;
  border-radius: 5px;
  cursor: pointer;



  background-color: var(--primary-color);
  color: white;
}


#num-strings-select, #stretch-select{
  margin-left: 5px;
  cursor: pointer;

}



.enharmonic-box{
  cursor: pointer;
}

#doubling-button, #use-open-button, #no-string-skipping-button, #color-selector {
  cursor: pointer;
}

#doubling-section, #use-open-section, #no-string-skipping-section, #enharmonics-section, #color-section {
  margin-top: 5px;
  margin-bottom: 5px;

}




.diagram, .results-title, .error-message{
  border-style:double;
  border-width: 10px;
  border-radius: 3px;
  border-color: black;
  background-color: var(--secondary-color);
}

.results-title{
  margin: auto;
  min-width: 90px;
  width: 50%;
  margin-top: 5%;
  font-size: 1.5rem;
  font-weight: bold;

}

.error-message{
  display: flex;
  margin: 5% 16% 0px 16%;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 10%;

}



.diagram{
  margin-top: 3%;
  text-align: left;
  justify-content: center;
  width: 100%;
}

.position-marker{
  margin-left: .5cm;
}

.diagram_box {
  text-align: center;
  margin-left: .5cm;
  margin-bottom: 45px;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  width: 40vw;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  gap: 0;
}

.box {
  background-color: var(--maple);
  
  border-left: 2px solid black;
  border-right: 2px solid black;
  width: 100%;
  min-height: 26px;
  margin: 0;
  padding: 0;
}

.string {
  z-index: 0; /*below text*/
  position: relative;
  
  top: 50%;
  height: 2px; /* tring thickness*/

  background-color: gray;
}

.note {
  font-size: .9rem;
  
  z-index: 1;  /*above string*/
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 2px;
  width: 20px; 
  height: 20px; 

  background-color: var(--primary-color);
  border: 1px solid #000;;
  border-radius: 50%; 
}




#login-main, #signup-main{

  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
  position: relative;

  height: calc(var(--vh, 1vh) * 85);

  margin: 0;
  padding: 0;
}

.signin-title, #signin-options, #custom-signup, #signup-title{
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 25px;
  border-style: double;
  border-color: black;
  border-radius: 3px;
  border-width: 5px;
  background-color: var(--secondary-color);
  padding: 10px;
}



.google-signin, #custom-signin, #custom-signup,  #login-signup{

  margin-bottom: 20px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

#login-signup-link{
  background-color: var(--input-text-color);
  color: black;
  border-style: solid;
  padding: 10px;
}

#signup-email, #signup-username, #signup-firstname, #signup-lastname, #signup-password,
#signin-email, #signin-password {
  
  margin: 2px;
  overflow: scroll;
}

#custom-signin-title, #google-signin-title{
  margin-bottom: 5px;
}

#signup-button, #signin-button{
  margin-top: 5px;
}


.signin-options{
  background-color: var(--secondary-color);
  padding: 20px;

}